.about{
    padding: 3rem 5rem;
    width: 85%;
}
.about-content{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.about-badge{
    background-color: white;
    margin-left: 7rem;
    min-width: 35%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(173, 173, 173);
}       
.about-badge-info{
    margin-top: 2rem;
}
.about-badge-info > p{
    font-weight: 500;
}
.about-badge-info > ul{
    margin-top: .4rem;
}
.about-images{
    margin-top: 10rem;
    position: relative;
    width: 48%;
    /* overflow: hidden; */
}
.about-images img{
    position: absolute;
}
.about-img1{
    width: 250px;
    height: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    left: calc(35%);
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 10px gray;
}
.about-img2{
    width: 200px;
    height: 200px;
    right: 120px;
    top: 120px;
    bottom: 0;
    left: 30%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: -5px -5px 10px rgba(97, 96, 96, 0.699);
}
.about-image-inline{
    display: none;
}
@media (max-width: 1024px){
    .about-badge{
        margin-left: 0;
    }
    .about-images img{
        left: -2rem;
    }
}
@media (max-width: 768px){
    .about{
        width: 100%;
    }
}
@media (max-width: 425px){
    .about{
        padding: 1.5rem 0;
    }
    .about-content{
        margin-top: 1.5rem;
    }
    .about-badge{
        padding: 2rem 0;
    }
    .about-badge-info{
        padding: 0 1rem;
    }
    .about-images{
        margin-top: 0;
        display: none;
    }
    .about-image-inline{
        margin-top: 2rem;
        display: block; 
        width: 100%;
    }
    .about-image-inline img{
        width: 100%;
        box-shadow: 0px 0px 6px gray;
    }
}