.about{
    padding: 3rem 5rem;
    width: 85%;
}
.about-content{
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}
.about-content *{
    color: white;
}
.about-text{
    background-color: rgba(0,0,0,0.5);
    padding: 2rem;
    border-radius: 7px;
}
.about-text ul{
    margin-top: 2rem;
    margin-left: 4rem;
}
.about-text ul li{
    margin-top: .5rem;
    list-style:square;
    font-size: 1rem;
}

@media (max-width: 1024px){
    .about-content{
        padding: 1rem;
    }
    .about-text{
        margin-top:.5rem
    }
}