footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(206, 205, 205);
    z-index: -1;
    padding: .5rem;

}
footer p{
    color: black;
    font-weight: 300;
    font-size: .7rem;
}