@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap');
.home{
    padding: 3rem 5rem;
    width: 85%;
}
.home-header{
    display: flex;
    align-items: center;
}
.home-lang-select{
    margin-left: 1rem;
}
.home-lang-select select{
    padding: .5rem;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 7px;
    background-color: rgb(235, 234, 234);
    outline: none;
}
.home-lang-select select option:before{
    background-color: rgb(235, 234, 234);
}
option{
    background-color: rgb(235, 234, 234);
    border: 1px solid rgb(209, 209, 209);;
}
.home-content{
    padding: 2rem 0;
    text-align: justify;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-text{
    min-height: 150px;
    position: relative;
    padding: 1rem 2rem;
    background-color: rgb(235, 234, 234);
    border-radius: 7px;
    width: 90%;
    transition: 300ms ease-in-out;
    box-shadow: 0px 0px 3px rgb(194, 192, 192);
    animation: textAppear;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.home-text-span{
    font-size: 2rem;
    margin-right: .2rem;
}
.home-text:hover{
    background-color: #00799f;
    color: white;
    box-shadow: 0px 0px 10px rgb(153, 153, 153);
}
.home-text{
    margin-top: 4rem;
}
.home-kannada p{
    font-family: 'Baloo 2', cursive;
}
.home-text p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.home-full-text{
    display: inline!important;
    -webkit-line-clamp: 20;
    overflow: scroll;
}
.btn-read-more{
    position: absolute;
    bottom: -1rem;
    right: 2rem;
}
@keyframes textAppear{
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 1024px){
    .home-content{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .home-text{
        width: 98%;
    }
}
@media (max-width:768px){
    .home{
        padding: 3rem 2.5rem;
        width: 100%;
    }
}
@media (max-width:425px){
    .home{
        padding: 3rem 0;
    }
    .home-content{
        justify-content: center;
    }
    .home-text{
        width: 100%;
    }
}



/************************************************/