.home{
    padding: 3rem 5rem;
    width: 85%;
}
.home-header{
    display: flex;
    align-items: center;
}
.home-lang-select{
    margin-left: 1rem;
}
.home-lang-select select{
    padding: .5rem;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 7px;
    background-color: rgb(235, 234, 234);
    outline: none;
}
.home-lang-select select option:before{
    background-color: rgb(235, 234, 234);
}
option{
    background-color: rgb(235, 234, 234);
    border: 1px solid rgb(209, 209, 209);;
}
.home-content{
    padding: 1rem 0;
    text-align: justify;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.home-text{
    margin-top: 5rem;
    padding: 2rem;
    background-color: rgb(235, 234, 234);
    border-radius: 7px;
    width: 47%;
    transition: 300ms ease-in-out;
    box-shadow: 0px 0px 3px rgb(194, 192, 192);
    animation: textAppear;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.home-text-span{
    font-size: 2rem;
    margin-right: .2rem;
}
.home-text:hover{
    background-color: #043038;
    color: white;
    box-shadow: 0px 0px 10px rgb(153, 153, 153);
}

@keyframes textAppear{
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 1024px){
    .home-content{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .home-text{
        width: 98%;
    }
}