.loading{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.loading-img-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-img-container img{
    width: 10%;
}
.loading-img-container img:nth-child(2){
    margin-top: 2rem;
}