.prints{
    padding: 3rem 5rem;
    width: 85%;
}
.prints-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
.print-item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 300ms ease-out;
    border-radius: 7px;
}
.print-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.print-info{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -200px;
    background-color: rgba(0,0,0,0.5);
    padding: 1rem;
    transition: 300ms ease-out;
}
.print-item:hover{
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0px 10px 10px gray;
}
.print-item:hover .print-info{
    bottom: 0;
}
.print-info-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
.print-info-description{
    color: white;
}


@media (max-width: 1024px){
    .prints-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .print-info{
        padding: 1rem .5rem;
        opacity: 1; 
        bottom: 0;
    }
    .print-info-title{
        font-size: 1.2rem;
    }
}
@media (max-width: 768px){
    .prints{
        padding: 2rem 2rem;
        width: 100%;
    }
}
@media (max-width: 425px){
    .prints{
        padding: 2rem .5rem;
    }
    .prints-content{
        margin-top: 1rem;
        padding: 2rem 1rem;
        grid-template-columns: 1fr;
    }
}